<%- include('partials/header'); -%>
    <h1>Home</h1>
    <p>
        <%= startingContent %>
    </p>
    <% posts.forEach(function(post){ %>
        <!-- this is a loop preferred over for loop -->
        <h1>
            <%= post.title %>
        </h1>
        <p>
            <%= post.content.substring(0,100) + "..." %> <!-- truncate the content to 100 characters -->
                <a href="/posts/<%= post.title %>">Read more</a>
        </p>
        <% }); %>
            <%- include('partials/footer'); -%>